.main-div {
  background-color: #fef4f5;
  height: 50%;
  margin-top: 2%;
}
.first-col {
  color: black;
width:490px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-family: 'Times New Roman';
  font-size:large;
}
