.feedback {
  width: 28em;
  height: 35em;
  background-color: hsla(0, 0%, 91.8%, 0.56);
  border-radius: 2px;
  border: 2 solid hsla(0, 0%, 60.8%, 0.15);
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 2em;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 0.837rem;
  font-weight: 400;
  /* min-height: 12.5rem; */

  /* margin-left: 3rem; */
}
.comma {
  height: 50px;
  width: 50px;
  margin-top: -2em;
}
.feedback-main {
  margin-top: 2em;
}
.feedback-main ul li:before {
  display: none;
}
.feedback-name {
  padding-left: 2em;
  font-weight: bold;
}
.feedback-icon {
  text-align: left;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.feedback-title {
  padding-top: 1em;
}
.feedback-info {
  text-align: left;
  margin-left: 2em;
  margin-top: -1em;
  justify-content: center;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.73;
  margin-top: 0.1rem;
  color: #4a4a4a;
  position: relative;
}
.workshop-name {
  font-weight: 500;
  text-align: left;
  color: gray;
  /* padding-left: 1em; */
}
.feedback-workshop {
  float: left;
  /* margin-left: 2.4em; */
}
.feedback-socialName {
  margin-left: 2em;
  text-align: left;
  color: gray;
  /* padding-bottom: 20%; */
  padding-bottom: 1em;
  /* margin-bottom: 1em; */
}
