.oem-body {
  cursor: pointer;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  border-radius: 5px;
  height: 100px;
  width: 150px;
}
.oem-box {
/* margin: 2.2em; */
}
.slider-box{
  margin-left: 1.4em
}