.inner-div {
  padding: 0em 0.5em 0em 0.5em;
  margin: 1em;
}

.inner-div span {
  color: red;
  font-weight: 600;
  font-size: 0.8em;
}
.inner-div p {
  font-size: 0.9em;
}
.card-footer {
  background-color: #f6f6f6;
  margin-top: 2em;
  /* margin: 2em -1em 2em -1em; */
  text-align: center;
  padding: 0.4em;
  vertical-align: middle;
  width: 100%;
}
.card-footer p {
  font-weight: 600;
  color: grey;
}
.card-header {
  background-color: #f6f6f6;
}
.card-header h2 {
  padding: 0.8em 0 0 0.8em;
  font-weight: 600;
}
.engine-oil {
  padding: 0 0 0.8em 1.2em;
  font-size: 0.8em;
  color: grey;
  font-weight: 600;
}
.total-price {
  font-weight: 600;
}
